body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #1d1f1f;
  background-color: #f5f5f7;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

h2 {
  font-size: 28px;
}

img {
  max-width: 100%;
}

/* Header */

header {
  background-color: #313132;
  padding: 12px;
}

#header-items {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}

#header-items a {
  font-size: 12px;
  font-weight: lighter;
  color: #d1d1d1;
  text-decoration: none;
  transition: 0.3s;
}

#header-items a:hover {
  color: #fff;
}

i {
  font-size: 16px;
}

/* Promoção estudantil */

#student-promotion {
  text-align: center;
  font-size: 14px;
  background-color: #fff;
  width: 100%;
  padding: 5px 0px;
}

.link {
  font-size: 14px;
  text-decoration: none;
  color: #06c;
}

.link:hover {
  text-decoration: underline;
}

.span-decoration {
  color: #6e6e73;
}

#row-content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#row-content h1 {
  font-size: 48px;
}

.generic-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 16px;
}

.generic-item p {
  margin: 0px;
}

#row-items {
  margin-top: 60px;
  display: flex;
  gap: 20px;
}

.row-item {
  width: 136px;
}

figure {
  margin: 0px;
}

figure img {
  width: 120px;
  padding-bottom: 16px;
}

figcaption {
  text-align: center;
}

figcaption a {
  color: #1d1f1f;
  text-decoration: none;
  font-size: 14px;
}

figcaption a:hover {
  text-decoration: underline;
}

/* news-section */

#news-section {
  margin-top: 90px;
}

.box-cards {
  display: flex;
  gap: 20px;
}

.card,
.small-card {
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}

.card:hover,
.small-card:hover {
  transform: scale(1.03);
  box-shadow: 4px 7px 12px rgb(0 0 0 / 50%);
}

.card img {
  min-width: 400px;
  height: 500px;
  border-radius: 20px;
}

.card-text {
  padding: 20px;
  position: absolute;
  width: 400px;
}

.card-text h3 {
  font-size: 12px;
  text-transform: uppercase;
  color: #6e6e73;
}

.card-text a {
  color: #1d1f1f;
  font-size: 28px;
  font-weight: 600;
  text-decoration: none;
  width: 100%;
  display: inline-block;
}

.card-text p {
  font-size: 17px;
}

.card-text.dark h3,
.card-text.dark a,
.card-text.dark p {
  color: #fff;
}

#acessories-section {
  margin-top: 90px;
}

.small-card {
  min-width: 313px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  text-align: left;
}

.card-image img {
  min-width: 230px;
  height: 230px;
  border-radius: 0px;
}

.card-content-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 150px;
  width: 100%;
}

.card-title {
  min-height: 50px;
  padding-bottom: 20px;
}

.card-content-info h4 {
  text-align: left;
  font-size: 17px;
  font-weight: 600;
  line-height: 21px;
  margin: 0px;
}

.card-content-info p {
  font-size: 14px;
}

.new-product {
  font-size: 12px;
  color: #bf4800;
  margin-bottom: 10px;
  width: 100%;
}

#help-section {
  margin-top: 90px;
}

.horizontal-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.horizontal-cards .card img {
  height: auto;
}

.horizontal-cards .card .card-text {
  padding: 30px;
}

.horizontal-cards .card a {
  font-size: 24px;
}

.horizontal-cards #left-text {
  width: 50%;
  padding: 55px 0px 30px 30px;
}

#differentials-section {
  margin-top: 90px;
}

.small-card {
  min-height: 240px;
  display: flex;
  justify-content: flex-start;
}

.small-card .card-svg {
  width: 100%;
}

.card-icon {
  color: #68cc45;
  font-size: 48px;
}

.small-card-text {
  width: 100%;
}

.small-card-text p {
  margin-top: 0px;
  font-size: 24px;
  font-weight: 600;
}
